{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
  email = {{ $email | quote }}
{{- if eq .chezmoi.os "darwin" }}
  brewPath = "/opt/homebrew/bin"
{{- else if eq .chezmoi.os "linux" }}
  brewPath = "/home/linuxbrew/.linuxbrew/bin" 
{{- end }}
