[user]
	name = phootip
	email = {{ .email | quote}}
[core]
  excludesfile = ~/.gitignore_global
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto

[alias]
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
	whoami = config user.email
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	s = status -s

[include]
  path = ~/.config/git/gitconfig

[includeIf "gitdir:~/phootip/work/"]
  path = .gitconfig-work
[includeIf "gitdir:~/phootip/works/"]
  path = .gitconfig-work
