{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

read -rn 1 -p "Setup macos brew specific? [y/n] " ans
if [[ $ans =~ ^([Yy])$ ]]; then
  brew bundle --no-lock --file ".local/share/chezmoi/BrewfileMac"
fi

echo -e "\\n\\nSetting OS X settings"
echo "=============================="

echo "Show Path bar in Finder"
defaults write com.apple.finder ShowPathbar -bool true

echo "Show Status bar in Finder"
defaults write com.apple.finder ShowStatusBar -bool true

echo "Disable press-and-hold for keys in favor of key repeat"
defaults write NSGlobalDomain ApplePressAndHoldEnabled -bool false

echo "Set a blazingly fast keyboard repeat rate"
defaults write NSGlobalDomain KeyRepeat -int 2

# echo "Set a shorter Delay until key repeat"
# defaults write NSGlobalDomain InitialKeyRepeat -int 15

echo "Show active apps only in Dock"
defaults write com.apple.dock static-only -bool true; killall Dock

{{ end -}}
