format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$kubernetes\
${custom.terraform}\
$cmd_duration\
$fill\
$time\
$line_break\
$python\
$character\
${custom.osc}\
"""

follow_symlinks = false
# add_newline = false

[directory]
style = "blue"

[time]
disabled = false
format = ' [$time]($style)'

[character]
success_symbol = "[❯](purple)"
error_symbol = "[❯](red)"
vimcmd_symbol = "[❮](green)"

[git_branch]
format = "\\[[$branch]($style)"
style = "1"

[fill]
# symbol = '-'
# style = 'bold bright-green'
symbol = ' '
style = 'bold bright-green strikethrough'

[git_status]
# format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](218) ($ahead_behind$stashed)]($style)"
format = '$all_status$ahead_behind\]'
ahead = '[⬆](bold purple)'
behind = '[⬇](bold purple)'
staged = '[✚](green)'
deleted = '[✖](red)'
renamed = '[➜](purple)'
# stashed = '[✭](cyan)'
stashed = ''
untracked = '[◼](white)'
modified = '[✱](blue)'
conflicted = '[═](yellow)'
diverged = '⇕'
up_to_date = ''

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"

[cmd_duration]
format = " [$duration]($style) "
style = "yellow"

[python]
format = "[$virtualenv]($style) "
style = "bright-black"

[custom.terraform]
command = """
config=$(jq '.backend.config' .terraform/terraform.tfstate)
env=$(echo "$config" | grep -oE 'dev|preview|qa|uat|prod' | head -n 1)
echo -n "$env"
"""
when = "test -f .terraform/terraform.tfstate"
style = "bold purple"
symbol = "󱁢"
format = '\[[$symbol($output)]($style)\]'

[kubernetes]
disabled = false
format = '\[[$symbol$context( \($namespace\))]($style)\]'
# format = '\[[$symbol(\($namespace\))]($style)\]'

[custom.osc]
command = '''printf "\033]133;A\007"'''
format = '[$symbol($output)]($style)'
when = true
